<!-- _includes/comments.liquid -->
{% if site.giscus %}
  <div class="giscus"></div>
  <script
    src="https://giscus.app/client.js"
    data-repo="{{ site.giscus.repo }}"
    data-repo-id="{{ site.giscus.repo_id }}"
    data-category-id="{{ site.giscus.category_id }}"
    data-mapping="{{ site.giscus.mapping }}"
    data-strict="{{ site.giscus.strict }}"
    data-reactions-enabled="{{ site.giscus.reactions_enabled }}"
    data-emit-metadata="{{ site.giscus.emit_metadata }}"
    data-input-position="{{ site.giscus.input_position }}"
    data-theme="{{ site.giscus.theme }}"
    data-lang="{{ site.giscus.lang }}"
    data-loading="{{ site.giscus.loading }}"
    crossorigin="anonymous"
    async
  ></script>
{% endif %}
